#colorSquare {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.loader {
    position: absolute;
    top: 80px;
    left: 50px;
    width: 120px;
    height: 120px;
    animation: spin 4s linear infinite;
    display: block;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#hexCode {
    position: absolute;
    top: 245px;
}